.dialog-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 330px;

  form {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }

  button.primary{
    background: #b931d9;
    color: #fff;
  }

  .form-field{
    margin: 5px 0px;
  }

  .action{
    justify-content: flex-end;
    display: flex;
    margin-top: 50px;

    button{
      margin: 0px 5px;
    }
  }

  .heading{
    font-style: italic;
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 640px) {
  .dialog-form {
    width: 220px;
  }
}
